
body.night {
  background-color: #000;
}

div#title {
  margin: 50px 8% 0px;
}

#title span {
  font-size: 48px;
  font-family: Helvetica;
  font-weight: bold;
  width: 50%;
  margin: 0;
}

.night #title span {
  color: #fff;
  opacity: 0.9;
}

#title ul {
  right: 0;
  list-style-type: none;
  float: right;
}

#title ul li {
  float: left;
  margin-left: 10px;
}

#title ul li a img {
  opacity: 0.8;
}

#title p {
  margin-left: 10px;
  font-size: 20px;
  font-family: Helvetica;
  color: #999;
}

div#main {
  margin: 30px 8% 0px;
  text-align: center;
}

div#nav {
  margin: 30px 8% 0px;
}

#nav ul {
  margin-left: 10px;
  list-style-type: none;
  padding: 0;
}

#nav li {
  padding-bottom: 3px;
}

#nav li a {
  font-size: 20px;
  font-family: Helvetica;
  text-decoration: none;
  color: #999;
}

#nav li a:hover {
  color: red;
}

#graph {
  position: relative;
  float: left;
  padding: 10px;
  margin: 10px;
}

#overlay-name {
  position: absolute;
  font-size: 24px;
  font-family: Helvetica;
  text-align: left;
  width: 150px;
  left: 20px;
  bottom: 20px;
  z-index: 200;
}

#overlay-number {
  position: absolute;
  font-size: 48px;
  font-family: Helvetica;
  font-weight: bold;
  right: 20px;
  bottom: 20px;
  z-index: 200;
}

#overlay-name.night, #overlay-number.night {
  color: #fff;
  opacity: 1.0;
}

#overlay-number.nonum {
  opacity: 0.0;
}

#overlay-number span.error {
  color: red;
}

span.unit {
  font-size: 24px;
}

div.x_label {
  font-size: 13px;
  font-family: Helvetica;
}

div.item {
  font-size: 12px;
  font-family: Helvetica;
}

